HEYGEN_API_KEY=sk_V2_hgu_kj5yvltUI54_xdW8TlpxoKIZn7sbQ5i4M8faivfjGeTt
VITE_HEYGEN_BASE_API_URL=https://api.heygen.com

VITE_SUPABASE_URL=https://xqscpdslmqosyzqoxmme.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_UINIRX1eju2TUAlkPDF71g_6w71A9Yi
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhxc2NwZHNsbXFvc3l6cW94bW1lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwNTM4MzcsImV4cCI6MjA3NzYyOTgzN30.1D3Vzj9Mb7E2t7zA8cSJNSH3MOAOYGKqCdssysWPz_s

VITE_OPENROUTER_API_KEY=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
OPENROUTER_API_KEY=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
